<div class="home-container">
  <h1 class="home-title">Painel Inicial</h1>

  <div class="home-info-box">
    <p class="home-info">Total de alunos cadastrados: {{numeroAlunos}}</p>
    <p class="home-info">Alunos ativos: {{alunosAtivos.length}}</p>
  </div>
</div>
