<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Meu Sistema</title>
  <link rel="stylesheet" href="/css/styles.css"/>
  <link rel="stylesheet" href="/css/home.css">
  <link rel="stylesheet" href="/css/aluno.css"/>
</head>
<body>
  <div class="container">
    <aside class="sidebar">
      <h2 class="sidebar-title">Menu</h2>
      <ul class="menu-list">
        <li><a href="/" class="menu-link">Home</a></li>
        <li><a href="/Alunos" class="menu-link">Alunos</a></li>
        <li><a href="/livros" class="menu-link">Livros</a></li>
        <li><a href="/editora" class="menu-link">Editora</a></li>
        <li><a href="/emprestimo" class="menu-link">Emprestimos</a></li>
      </ul>
    </aside>

    <section class="content">
      {{{body}}}
    </section>
  </div>
</body>
</html>
